@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.App{
    display: flex;
    justify-content: center;
    /* min-height: 100dvh; */
    align-items: center;
    flex-direction: column;
    /* background-color: #77D5E7; */
    margin-top: 1vh;
}
.Quote{
    /* background: url(/Users/user/Desktop/code/react/random_quote/src/component/Assets/background.jpg); */
    background-color: #72b8cf;
    background-size: cover;
    width: 85dvw;
    height: 60dvh;
    /* max-width: calc(60dvh - 200px); */
    border-radius: 10px;
    padding: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }
   .Quote h2{
    font-size:min(3rem, 7vmin);

    font-family: 'Lobster', sans-serif;
    
   }

   .Quote small{
    font-size: 3vmin;
    font-family: 'Dancing Script', cursive;
    padding-top: 2vh;
   }

   .btn {
	display: block;
	border: 0.2rem solid #008CBA;
	background: transparent;
	padding: 1dvh 1.5dvw;
	color: #008CBA;
	font-size: 5vmin;
	border-radius: .5rem;
	cursor: pointer;
	outline: none;
	transition: background 1s, color 1s;
}
.btn:hover{
	background: #008CBA;
	color: #fff;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/* @media screen and (max-width:900px) {
    .Quote h2{
        font-size: 1rem;
    }
    .App{
        min-height:70%;
    }
} */

/* .iconLeft{
    margin-right: 60vmin;
    
}
.iconRight{
    margin-right: 60vmin;
} */